*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#FF00FF;
    --secoundary-color: #330033;
      --background-color: #f2e6f2;
    --heading-font:"Lato", sans-serif;
    --paragraphy-font:"Open Sans", sans-serif;

}

body{
     background-color: var(--background-color);
}

 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 2rem;
  
 }
.header-img-box{
    display: flex;
    align-items: center;
}
.header-img-box p{
    font-family: var(--heading-font);
    color: var(--secoundary-color);
    text-transform: uppercase;
}
.header-img-box img{
    width: 2rem;
}


#menu{
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--secoundary-color);
    position: relative;
    cursor: pointer;
  
   
   
}

#menu::before, #menu::after{
    content: "";
     width: 1.8rem;
    height: 0.2rem;
    background-color: var(--secoundary-color);
    position: absolute;
    transition: 0.3s all;
    


}
#menu::before{
    top: -0.4rem;
}

#menu::after{
    top: 0.4rem;
}
#menu.show{
    background-color: transparent;
}
#menu.show::after{
transform: rotate(-45deg);
top: 0;
background-color:var(--secoundary-color);}

#menu.show::before{
transform: rotate(45deg);
top: 0;
background-color:var(--secoundary-color);}


.navigation{
    display:flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;

}

#current{
    border: 1px solid #330033;
}
.navigation a:link,
.navigation a:visited{
    display: block;
    text-decoration: none;
    font-family: var(--paragraphy-font);
    color: var(--secoundary-color);
    text-align: center;
    font-weight: 600;

}
 .navigation li{
 display: none;
 border-bottom: 2px solid rgba(255,255,255,0.3);


}

.navigation.show li{
    display: block;
}

.header-img-box.show{
    display: none;
}
.directory-heading{
    margin: 1rem 0 0 2rem;
    font-family: var(--heading-font);
    color: var(--secoundary-color);
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}
#grid-btn, #list-btn{
    padding: .6rem 1.2rem;
    font-weight: 600;
    color: var(--secoundary-color);
    text-align: center;
    cursor: pointer;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   gap: 2rem;
    margin: 2rem;
   
}
.list{
 display: flex;
 flex-direction:column ;
 gap: 1rem;
 margin-bottom: 2rem;
 padding: 1rem;
}
.list .member-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content:space-evenly ;
    border-radius:0 ;
}
.member-box{
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem .4rem;
    background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.3);
   
}
.member-box img{
    width: 4em;
}
 .member-box h2{
    font-size: 1rem;
    font-family: var(--heading-font);
    color: var(--secoundary-color);
    font-weight: 800;
    text-transform: uppercase;
}
.member-box p{
    font-family: var(--paragraphy-font);
    color: #333;
}
.member-box span{
    color:#610061;
    font-weight: 700;
    padding-left: .6rem;
}
.member-box strong{
    font-family: var(--heading-font);
    color: var(--secoundary-color);
}
.member-box a:link,
.member-box a:visited{
    display: block;
    text-decoration: none;
    color: #610061;
    font-family: var(--paragraphy-font);
    border-bottom: 2px solid #610061;
    padding: 0 1rem;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-color: var(--secoundary-color);
    padding: 2rem;
    color: var(--background-color);
}
footer p{
    font-family:var(--paragraphy-font) ;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.email:link,
.email:visited{
    display: block;
    text-decoration: none;
    font-family: var(--paragraphy-font);
    color:#FFA3FF;
    font-size: 1.1rem;

}
.social-links a:link,
.social-links a:visited{
    display: block;
    text-decoration: none;
}
.social-links img{
    width: 4.8rem;
    background-color: var(--background-color);
    padding: .6rem;
    border-radius: 10px;
    


}
.contact h3{
    font-family: var(--heading-font);
}
.footer-dates, .contact{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}


.list .member-box img {
  display: none;
}
