@media (min-width:700px) {
    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    #menu{
        display: none;
    }
    .navigation{
        flex-direction: row;
    }
    .navigation li{
        display: block;
        border: none;
        
    }
    #current{
        border: none;
     border-bottom:2px solid #330033 ;
  
}

/* HOME PAGE */


    .big-container {
        flex-direction: row; /* main sections side by side */
        gap: 20px;
        padding: 2rem;
    }

    .big-container > section {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .current-event {
        flex: 1; 
    }

    
    #weather {
        flex: 1; 
        flex-direction: row; 
        gap: 20px;
    }


    #current-weather, #forecast {
        flex: 1;
    }

.way-finding{
     margin: 2rem 0 0 2.6rem;
    

}
.form-and-cards{
    display: flex;
}

footer{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
}
@media (min-width:900px) {

    body{
        max-width: 70rem;
        margin: 0 auto;
    }
    
}