@media (min-width:700px) {
    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    #menu{
        display: none;
    }
    .navigation{
        flex-direction: row;
    }
    .navigation li{
        display: block;
        border: none;
        
    }
    #current{
        border: none;
     border-bottom:2px solid #330033 ;
  
}

/* HOME PAGE */
.current-event{
   margin: 2rem;
    grid-template-columns:  1fr 1fr;
    align-items: stretch;
  
}

footer{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
}
@media (min-width:900px) {

    body{
        max-width: 70rem;
        margin: 0 auto;
    }
    
}