*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }

 :root {
  --primary-color: #330033;
  --secondary-color: #800080;
  --accentcolor1: #ee8eee;
  --accentcolor2:#e63946;
  --background-color: #f2e6f2;
  --statement-font-family: "Lora",sans-serif;
  --paragraphy-font-family: "Raleway", sans-serif;
  --heading-font-family: "Roboto",sans-serif;
}

.desktop-logo, .hidden-mobile{
    display: none;
}
 
p{
    font-family: var(--paragraphy-font-family);
  
    line-height: 1.6;
    letter-spacing: 0.04rem;
    color: #444;

}
 h1,h2,h4,h6,a{
    font-family: var(--heading-font-family);
   text-align: center;}

 section{

  opacity: 0;
   transform: translateY(50px);
   transition: all 0.8s ease-out;
  min-height: 10vh;
}
section.scroll{
  opacity: 1;
  transform: translateY(0);
   
} 

img{
    width: 100%;
}
li{
    list-style: none;
}

/**************************************************/
           /*   HOME HEADER NAVIGATION SECTION   */
/**************************************************/


  header{
    padding: 0;
    margin: 0;
    
  } 
  
#home-header {
     background:linear-gradient( rgba(128, 126, 126, 0.6), rgba(243, 240, 240, 0.1)), url(/final/images/hero.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh; /* makes the header cover the entire screen height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#donate-header{
        background: linear-gradient( rgba(128, 126, 126, 0.6), rgba(243, 240, 240, 0.1)),url(/final/images/girls-smiling.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh; /* makes the header cover the entire screen height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#contact-header{
        background: linear-gradient( rgba(128, 126, 126, 0.6), rgba(243, 240, 240, 0.1)),url(/final/images/girls-smiling.webp);

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh; /* makes the header cover the entire screen height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#about-header{
        background: linear-gradient( rgba(128, 126, 126, 0.6), rgba(243, 240, 240, 0.1)),url(/final/images/girls-smiling.webp);
        
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh; /* makes the header cover the entire screen height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.logo-box{
    display: flex;
   align-items: center;
  width: 100%;
  padding: .4rem;
  background:rgba(255,255,255,0.1);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
 color: var(--primary-color);
 position: fixed;
 z-index: 1;

  
}
.header-donate-btn{
    background-color:#fff;
  padding: .4rem;
    margin-left: 2rem;

}



#menu{
    width: 2rem;
    background:var(--accentcolor2);
    height: 0.2rem;
    position: absolute;
     top:2rem;
     right: 0;
    right: 1.4rem; 
    border-radius: 2px;
}
.header-lists{
   
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-radius: 10px;
   }
#menu::before,#menu::after{
    content: "";
     width: 2rem;
    background:var(--accentcolor2);
    height: 0.2rem;
    position: absolute;
    transition: all 0.4s;
    border-radius:2px ;
   
}

#menu::before{
    top: -0.4rem;
}
#menu::after{
    top: 0.4rem;
}
#menu.show{
    background-color: transparent;
    }

#menu.show::after{
    transform: rotate(45deg);
    top: 0;
    background-color:var(--primary-color);
    
}
#menu.show::before{
    transform: rotate(-45deg);
    top: 0;
    background-color:var(--primary-color);
    
}
.nav{
    display: none;
}

.shebloom-logo{
    width: 4rem;
    
}

.header-lists:last-child{
    border-bottom:none;
}

.nav-header-links:link,
.nav-header-links:visited{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:var(--primary-color);
    font-family: var(--heading-font-family);
   
    font-weight: 900;
      
     

}
.nav-header-links:hover,
.nav-header-links:active{
    color: var(--primary-color);
    text-decoration: underline;
}
/* .hidden{
    display: none;
} */

.nav.show{
   display: block;
   position: fixed;
   z-index: 1000;
   background-color: var(--background-color);
   width: 100%;
   height: 50vh;
   margin-top: 3.8rem;

   
 
    
}
#navigation.show{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 0 2rem;
}
    

#donate-btn:link,
#donate-btn:visited{
    display: block;
      padding: .2rem  ;
      text-decoration: none;
      font-weight: 800;
  color:var(--primary-color); 
}

    

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 1rem 1rem 1rem;
   
    
}




/*  HERO SECTION */



.home-heading{
    color: var(--primary-color);
   font-size: 1.8rem;
  text-transform: uppercase;
  
}

.donate-btn:link,
.donate-btn:visited{
    display: inline-block;
    background-color:var(--primary-color);
    padding: 1rem 1.8rem;
    color: #fff;
    text-decoration: none;
    margin: 1rem;
   cursor: pointer;
    transition: 0.3s all;
    font-family: var(--heading-font-family);
}
.volunteer-btn:link,
.volunteer-btn:visited{
    background-color: var(--primary-color);
    color: var(--background-color);
}
.donate-btn:hover,
.donate-btn:active{
    background-color: #802605;
}



/**************************************************/
           /*   HOME MAIN SECTION   */
/**************************************************/
.statement-sect{
    padding: 1rem;
    
   
}
.statement-box{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
     box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
     max-width: 50rem;
     margin: -4rem auto 2rem auto;
     background:rgba(255,255,255,0.1);
     backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 2px solid rgba(255,255,255,0.3);
   
}

.statement-para{
     font-family:var(--statement-font-family);
     color: #333;
    line-height: 1.8;
}
.statement-said{
    display: flex;
    flex-direction: column;
    align-items: center;
  
   
}
.founder-name{
    font-family: var(--heading-font-family);
    
}
.shebloom-founder{
   font-size: 0.8rem;
   filter: contrast(0);

   
}

.reality-section{
    padding: 1rem;
}
.reality-box{
   
    display: grid;
    grid-template-columns: 1fr;
     gap: 1rem;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 30px rgba(0,0,0,0.1);

 

 
}
.reality-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    gap: 1rem;
}
.reality-heading{
    
    color: #1a001a;
    font-weight: 900;
   
}
.reality-link:link,
.reality-link:visited{
    display: inline-block;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    padding:0 1rem 0.2rem 1rem;
    
}


/**************************************************/
           /*   ABOUT US PAGE   */
/**************************************************/

.discover-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border-radius: 10px;
    max-width: 20rem;
    margin: -2.8rem auto 2rem auto;
    padding: 1rem;
    background-color: #fff;
   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    
}
.our-story-heading{
    color: var(--primary-color);
    font-weight: 900;
}

.our-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin:4rem 0 1rem 0;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    
    border-radius: 10px;
    margin: 1rem;
}



.mission-vision{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    

}

.mission-vision h3{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}

.mis-vis{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;

}
.values-box{
     box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    border-radius: 10px;
    
}

.values-box h3{
   text-align: left; 
   margin-left: -2rem;
   border-radius: 10px 10px 0 10px;
   background-color: var(--primary-color);
   color: #fff;
   padding: 1rem;

   

}
.values{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
   padding: 2rem;
    
}
.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
.value h4{
    color: #333;
}

.value-icon{
    color: var(--accentcolor2);
    font-size: 2rem;
    font-weight: bold;
}
.story{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background-color);
    padding: 1rem;
   
}
.story img{
    border-radius: 10px;
}
 
.last-story{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding: 1rem;
   background: rgba(255,255,255,0.1);
    margin: 2rem 1rem 2rem 1rem;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 4px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.3);

    
}
.last-story p{
    color: var(--primary-color);
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left:2rem ;
    font-family: var(--paragraphy-font-family);
}
.about-list li{
    list-style-type:circle;
}
.about-list strong{
    font-family: var(--heading-font-family);
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.volunteer-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    
}

.pray, .volunteer{
   
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.volunteer-info , .pray{
display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.volunteer h3{
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--heading-font-family);
    width: 100%;
    padding: 0.6rem;
    margin-left: -1.6rem;
    border-radius: 0 0 10px 10px;
}
.volunteer-info, .pray{
    padding:1rem 0.6rem;
}
.volunteer span{
    font-family: var(--statement-font-family);
    color: #444;
    font-size: 1.2rem;
    
}
#programs-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 2rem;

}
.program-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.2);

}
.program-box h2{
    font-size: 1.6rem;
    color: var(--primary-color);
}
.programs-heading{
    padding: 1rem 1rem 2rem 1rem;
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 800;
    font-size: 2rem;
    font-family: var(--heading-font-family);
    text-align: center;
}


/**************************************************/
           /*  DONATE PAGE   */
/**************************************************/
.donate-main-section{
    margin: 2rem 1rem;
}
.donate-sec{
    display: flex;
    flex-direction:column;
    gap:1rem ;
    padding: 1rem;
}
.donating-ways{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    align-items: stretch;
    padding: 2rem 1rem;
    
}
table{
    border-collapse: collapse;
    width: 100%;
    max-width: 50rem;

}
th,td{
    border: 1px solid #888;
    padding: 1rem;
}
.transfer-box{
    display: flex;
   gap: 1rem;
   align-items: center;
}
.name{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    font-weight: 800;
}
.transfer-to{
    font-family: var(--paragraphy-font-family);
}
.donate-sec strong{
    font-family: var(--heading-font-family);
}
.donate-list{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1rem 0 0 2rem;
}
.donate-list li{
    list-style: circle;
    font-family: var(--paragraphy-font-family);
}
.transfers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    padding: 1rem;
    border-radius: 10px;
   box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  
}

.donate-heading{
    padding: 1rem;
    

}
.expenses{
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    padding: 2rem;
}
.highlight{
    color: var(--primary-color);
    font-size: 2.6rem;
    font-style: italic;
}
.remitly-link:link,
.remitly-link:visited{
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f7edf7;
    padding: 1rem;
    border-radius: 10px;
    
}



/**************************************************/
           /*   CONTACT US   */
/**************************************************/
.contact-section{
    display: flex;
   flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding:8rem 2rem 2rem 2rem;
    
    
} 
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color:#f3daf3;
    padding: 1rem;
   background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);


    

}
.contact-lists{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;

}
.contact-hero p{
    background-color: var(--background-color);
    padding: 1rem;
    margin:0 1rem -6rem 1rem;
}
.contact-list {
    display: flex;
    align-items: center;
    gap: 1rem;
   
}
.contact-list span{
    font-family: var(--heading-font-family);
}

.contact-link:link,
.contact-link:visited{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
}
.phone-number{
    font-family: var(--heading-font-family);
}
.contact-us-form-heading{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}
.contact-icon{
  font-size: 2rem;
    color:#fff;
    font-weight: 900;
    border-radius: 50%;
    padding: 0.6rem;
    background-color: var(--accentcolor2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}
.contact-us-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    border-radius: 10px;
    width: 100%;
    padding: 2rem;
    max-width: 40rem;
 background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
  
}
.contact-us-form input{
padding: 0.4rem;
border: none;
}
.contact-us-form label{
    font-family: var(--heading-font-family);
}
textarea{
    text-align: center;
    padding: 1rem;
    border: none;
}


/**************************************************/
           /*   FOOTER   */
/**************************************************/
footer{
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    
}
#tagline{
    
    text-align: center;
}
.footer-form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding:1rem;
}
footer h3{
    padding-top: 1.2rem;
    font-size: 1.2rem;
    color: var(--background-color);
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: var(--heading-font-family);
    
}
.footer-form input{

    padding: 0.8rem;
    text-align: center;
    font-size: 0.6rem;
}
.join-btn{
    padding: 0.8rem;
    background-color: var(--accentcolor1);
    border: none;
    color:var(--primary-color);
    font-family: var(--paragraphy-font-family);
    cursor: pointer;
    border-radius: 4px;

}
.update-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
     padding: 0 1rem 1rem 0;



}
.follow-links{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
   

}
.follow-link:link,
.follow-link:visited,
.quick-link:link,
.quick-link:visited{
    text-decoration: none;
    color:#fff;
    font-size: 2rem;

}

.links-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   padding: 1rem 0;
   opacity: 0;
   
   box-shadow: 4px 4px 15px rgba(210, 202, 202, 0.1);
   
   margin-bottom: 0;
   


}
.quick-list{
    display: none;
}
.quick-links{
   display: flex;
   flex-direction: column;
  justify-content: center;
    align-items: center;
    
   
  
}
.quick-link {
  color:#fff;
  
}

.links-box.unhide .quick-list{
    display: block;
}
.links-box.unhide{
    opacity: 1;
}
.quick-icon{
   width: 2rem;
  
 background:rgba(255,255,255,0.1);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 50%;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
 color: var(--background-color);
 margin-bottom: -1rem;
 


}
.quick-icon.rotate{
    transform: rotate(180deg);
    transition: transform 0.6s ease;
}

.footer-para{
    color: var(--background-color);
    padding-top: 1rem;
    text-align: center;
}
.myVideo:link,
.myVideo:visited{
    display: block;
    padding: 1rem;
    color: var(--background-color);
    font-family: var(--paragraphy-font-family);
    font-size: 1.4rem;
}





/* MODAL BACKDROP */
#image-modal, #favorite-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* MODAL CONTENT */
.modal-content, .popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    position: relative;
}

/* CLOSE BUTTON */
#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

/* FAVORITE ICON */
#favorite-icon {
    font-size: 30px;
    cursor: pointer;
    margin-top: 15px;
    transition: transform 0.2s;
}

#favorite-icon:hover {
    transform: scale(1.2);
}

/* POPUP BUTTONS */
#popup-donate-btn, #close-popup-btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
}

#popup-donate-btn { background:var(--primary-color); color: white; }
#close-popup-btn { background: #ccc; }


.subscription-dialog {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    max-width: 20rem;
    width: 90%;
    text-align: center;
}
.subscription-dialog::backdrop {
    background: rgba(0,0,0,0.5);
}
