*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#FF00FF;
    --secoundary-color: #330033;
      --background-color: #f2e6f2;
    --heading-font:"Lato", sans-serif;
    --paragraphy-font:"Open Sans", sans-serif;

}

body{
    scroll-behavior: smooth;
    background-color: var(--background-color);
}
main{
    padding: 1rem 2rem;
}
nav,main,header{
    margin-bottom: 2rem;
}
header{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  
}
header img{
    width:5rem;
}
h1,h2{
    font-family: var(--heading-font);
margin-bottom: 0.4rem;
}
p{
    font-family: var(--paragraphy-font);
    line-height: 1.6;
    
}


/*   NAVIGATION */
.navigation li{
    display: none;
}

#menu{
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--secoundary-color);
    position: relative;
    cursor: pointer;
   
}

#menu::before, #menu::after{
    content: "";
     width: 1.8rem;
    height: 0.2rem;
    background-color: var(--secoundary-color);
    position: absolute;
    transition: 0.3s all;
    


}
#menu::before{
    top: -0.4rem;
}

#menu::after{
    top: 0.4rem;
}
#menu.show{
    background-color: transparent;
}
#menu.show::after{
transform: rotate(-45deg);
top: 0;
background-color: var(--primary-color);
}
.navigation.show li{
    display: block;
}

#menu.show::before{
transform: rotate(45deg);
top: 0;
background-color: var(--primary-color);
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navigation li{
    list-style-type: none;
    background-color: var(--secoundary-color);
    padding: 0.4rem 0.4rem;
    
}
.navigation li a:link,
.navigation li a:visited{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: var(--paragraphy-font);
}

.main{
    display: grid;
    grid-template-columns:  1fr;
    align-items: center;
    gap: 2rem;

}
.main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fbf2fb;
   

}
.student-name{
    font-family:var(--heading-font);
    color: var(--secoundary-color);
}
h2{
    background-color:var(--secoundary-color);
    color: #FFF;
    width: 100%;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    text-align: center;
    

}
.main section p , .main section img{
    padding: 1rem;
}
.logo{
    border-radius: 10px;

}
.student-photo{
    width: 100%;
    max-width: 500px;
}
#copyright, #lastModified{
    color: #f2e6f2;
    text-align: center;
}
footer{
    background-color: var(--secoundary-color);
  padding: 1rem;

}